{
	"category": "",
	"subcategory": "", 
	"subcategory_cn": "",
	"name": "",
	"title": "",
	"description": "",
	"author": "",
	"version": "",
	"quark_url": "",
	"github_url": "",
	"custom_dir": "",
	"uninstall_dir": ""
}